<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.developer.barbosa.pcatool">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.telas.DashActivity"
            android:label="@string/title_activity_dash"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:parentActivityName=".activity.telas.DashActivity"
            android:name=".activity.telas.Cadastro"
            android:label="Dados do Entrevistado"
            android:screenOrientation="portrait" />
        <activity
            android:parentActivityName=".activity.telas.Cadastro"
            android:name=".activity.telas.ModuloQuestionario"
            android:label="Dados do Questionário"
            android:screenOrientation="portrait" />
        <activity
            android:parentActivityName=".activity.telas.DashActivity"
            android:name=".activity.telas.ResultadosActivity"
            android:label="Resultados"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.telas.BoasVindasActivity"
            android:label="Boas Vindas"
            android:screenOrientation="portrait" />
        <activity
            android:parentActivityName=".activity.telas.DashActivity"
            android:name=".activity.telas.EditarEntrevistadorActivity"
            android:label="Informações Entrevistador"
            android:screenOrientation="portrait" />
        <activity
            android:parentActivityName=".activity.telas.DashActivity"
            android:name=".activity.telas.VisualizarQuestionariosActivity"
            android:label="Visualizar Questionários"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.telas.ConfirmarCadastroActivity"
            android:label="Confirmar Entresvita"
            android:screenOrientation="portrait" />
        <activity
            android:parentActivityName=".activity.telas.DashActivity"
            android:name=".activity.telas.ExportarImportarActivity"
            android:label="Exportar/Importar Questionários"
            android:screenOrientation="portrait" />
        <activity
            android:parentActivityName=".activity.telas.DashActivity"
            android:screenOrientation="portrait"
            android:label="Sobre o Aplicativo"
            android:name=".activity.telas.SobreActivity"></activity>
        <activity
            android:name=".activity.adulto.AdultoA"
            android:label="Componente A"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.adulto.AdultoB"
            android:label="Componente B"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.adulto.AdultoC"
            android:label="Componente C"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.adulto.AdultoD"
            android:label="Componente D"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.adulto.AdultoE"
            android:label="Componente E"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.adulto.AdultoF"
            android:label="Componente F"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.adulto.AdultoG"
            android:label="Componente G"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.adulto.AdultoH"
            android:label="Componente H"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.adulto.AdultoI"
            android:label="Componente I"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.adulto.AdultoJ"
            android:label="Componente J"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.profissional.ProfissionalA"
            android:label="Componente A"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.profissional.ProfissionalB"
            android:label="Componente B"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.profissional.ProfissionalC"
            android:label="Componente C"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.profissional.ProfissionalD"
            android:label="Componente D"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.profissional.ProfissionalE"
            android:label="Componente E"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.profissional.ProfissionalF"
            android:label="Componente F"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.profissional.ProfissionalG"
            android:label="Componente G"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.profissional.ProfissionalH"
            android:label="Componente H"
            android:screenOrientation="landscape" />
    </application>

</manifest>